# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/


# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/Clase02/AppPromedio/nbproject/private/
/Clase02/AppPromedio/build/
/Clase03/VentaApp/nbproject/private/
/Clase04/AprendiendoJava/nbproject/private/
/Clase04/AprendiendoJava/build/
/Clase04/Reto5Salazar/AppReto5/nbproject/private/
/Clase04/AppReto05/nbproject/private/
/Clase04/AppReto05/build/